.App {
  text-align: center;
  align-items: center;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  font-size: calc(10px + 2vmin);
  color: black;
}

#meme-button {
  padding: 16px;
  margin-top: 5px;
  margin-left: 4px;
  border: none;
  width: 60%;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(105, 85, 238),
    rgb(22, 79, 202)
  );
  color: black;
}

#joke-button {
  padding: 16px;
  margin-top: 5px;
  margin-left: 4px;
  border: none;

  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(127, 207, 221),
    rgb(5, 57, 85)
  );
  color: black;
}

img {
  display: block;
 
  width: 60%;
  height: auto;

}

